<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Nickname:</td>
            <td>
                {{form.nickname(size = 24)}}
                {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td>{{form.firstname(size = 32)}}</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td>{{form.lastname(size = 32)}}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{form.phone(size = 32)}}</td>
        </tr>
<!-- we need to invert city, state, country, area to select style -->
        <tr>
            <td>City:</td>
            <td>{{form.city(size = 32)}}</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>{{form.state(size = 32)}}</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>{{form.country(size = 32)}}</td>
        </tr>
        <tr>
            <td>Area of Intersts:</td>
            <td>{{form.area(size = 32)}}</td>
        </tr>
        <tr>
            <td>About yourself:</td>
            <td>{{form.about_me(cols = 32, rows = 4)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}
