<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{user.avatar(128)}}"></td>
        <td>
            <h1>User: {{user.nickname}}</h1>
            {% if user.firstname %}<p>Firstname: {{user.firstname}}</p>{% endif %}
            {% if user.lastname %}<p>Lastname: {{user.lastname}}</p>{% endif %}
            {% if useraoi.city %}<p><i>City: {{useraoi.city}}</i></p>{% endif %}
            {% if useraoi.state %}<p><i>State: {{useraoi.state}}</i></p>{% endif %}
            {% if useraoi.country %}<p><i>Country: {{useraoi.country}}</i></p>{% endif %}
            {% if useraoi.area %}<p><i>Interests: {{useraoi.area}}</i></p>{% endif %}
            {% if user.phone %}<p>Phone: {{user.phone}}</p>{% endif %}
            {% if user.about_me %}<p>About_me: {{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
            {% if user.id == g.user.id %}<p><a href="{{url_for('edit')}}">Edit</a></p>{% endif %}
        </td>
    </tr>
</table>
<hr>
{% for post in posts %}
    {% include 'post.html' %}
{% endfor %}
{% endblock %}