<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{user.avatar(128)}}"></td>
        <td>
            <h1>User: {{user.nickname}}</h1>
            {% if user.firstname %}<p>Firstname: {{user.firstname}}</p>{% endif %}
            {% if user.lastname %}<p>Lastname: {{user.lastname}}</p>{% endif %}
            {% if useraoi.city !=' ' %}<p><i>City: {{useraoi.city}}</i></p>{% endif %}
            {% if useraoi.state != ' '%}<p><i>State: {{useraoi.state}}</i></p>{% endif %}
            {% if useraoi.country !=' ' %}<p><i>Country: {{useraoi.country}}</i></p>{% endif %}
            {% if useraoi.area != ' '%}<p><i>Interests: {{useraoi.area}}</i></p>{% endif %}
            {% if user.phone %}<p>Phone: {{user.phone}}</p>{% endif %}
            {% if user.about_me %}<p>About_me: {{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
            {% if user.id == g.user.id %}<p><a href="{{url_for('edit')}}">Edit</a></p>{% endif %}
            {% if user.id != g.user.id %}<p><a href="/message/{{nickname}}">Send a Message</a></p>{% endif %}
            {% if user.id == g.user.id %}<p><a href="/message/{{nickname}}">Message Box</a></p>{% endif %}
        </td>
    </tr>
</table>
<hr>
<h2>Ratings</h2>
<h3>Average Rating Score: {{averagerate}}</h3>
{% if form == None %}
<h3>You has already rated during last 24 hours!</h3>
{% endif %}
{% if user.id != g.user.id %}
{% if form != None %}
<form action="" method="post" name="rating">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Say something:</td>
            <td>{{ form.comment(size = 30, maxlength = 300) }}</td>
            <td>Rate(1.0 to 5.0):</td>
            <td>{{ form.rates(size = 30, maxlength = 4) }}</td>
            <td>
            {% for error in form.errors.post %}
            <span style="color: red;">[{{error}}]</span><br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
            <td></td>
        </tr>
    </table>
</form>
{% endif %}
{% endif %}
{% for comment in comments %}
    {% include 'comment.html' %}
{% endfor %}
{% endblock %}